:root{
    --vermelho: #E50914;
    --preto: #141414;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* BASE */

body{
    color: #fff;
    background: var(--preto);
    font-family: 'Arial', Times, serif;
}